body {
  font-family: "Poppins", sans-serif;
  background-color: #faf9f9;
}

#header,
#footer {
  text-align: center;
  padding: 10px 0;
}

#nav-bar {
  list-style: none;
  gap: 1.3rem;

  li.dropdown::after {
    content: "⯆";
    font-size: 0.8rem;
    vertical-align: text-top;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px #d1d1d1;
  background-color: white;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
  }
}
%banner-base {
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;

  &:hover .tag-circle {
    transform: rotate(0deg);
  }
}
.first-banner {
  background-image: url("./banner1.webp");
  @extend %banner-base; 
}

.second-banner {
  background-image: url("./banner1-2.png");
  @extend %banner-base;  
}

.third-banner {
  background-image: url("./banner1-3.png");
  @extend %banner-base;  
}

.benefit-banner {
  background-color: map-get($colors, "cream");
  // border: 1px solid red;
}

.rising-desk-banner {
  background-image: url("./banner2.webp");
  background-size: cover;
  background-position: bottom;
}

.shop-all-banner {
  background-image: url("./banner2.webp");
  background-size: cover;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

footer {
  background-color: map-get($colors, "cream");
  border-top: 1px solid map-get($colors, "grey");

  #sub-footer {
    background-color: map-get($colors, "grey");
    color: map-get($colors, "cream");
    padding: 1rem 0;
  }
}

  #product-search {
    width: 200px;
  }

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

#cart-count {
  position: absolute;
  width: auto;
  min-width: 25px;
  height: auto;
  min-height: 25px;
  color: white;
  background-color: map-get($colors, "rose");
  border-radius: 5rem;
  text-align: center;
  top: -14px;
  right: -14px;
}

#home-benefit {
  @media screen and (max-width: 991.5px) {
    display: none !important;
  }
}

.d-n {
  display: none !important;
}

.d-b {
  display: block !important;
}

.d-f {
  display: flex !important;
}
