$border-radius: 1rem;
$colors: (
    'cream': #ebf4ef,
    'grey': #8e8e8e,
    'soft': #eda68a,
    'white': #ffffff,
    'black': #000000,
    'rose': #e06635,
);

$units: (
    '1': 1rem,
    '2': 1.2rem,
    '3': 1.4rem,
    '4': 1.6rem,
    '5': 1.8rem,
    '6': 2rem,
)